[Desktop Entry]
Type=Application
Name=PH4NTXM Lockdown
Comment=Toggle Lockdown
Exec=sudo /usr/local/bin/ph4ntxm-lockdown
Icon=ph4ntxm-lockdown
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
