[Desktop Entry]
Type=Application
Name=PH4NTXM Identity
Comment=Show Identity
Exec=sudo /usr/local/bin/ph4ntxm-identity
Icon=ph4ntxm-identity
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
