[Desktop Entry]
Type=Application
Name=Who Is
Comment=Show Who Is help inside a terminal
Exec=xfce4-terminal --hold -e "zsh -c 'echo -e \"\033[1;36m[+] Welcome to PH4NTXM OS.\033[0m\n\033[1;36m[+] Review Who Is options.\033[0m\n\033[1;36m[+] Stay secure, stay safe, stay PH4NTXM.\033[0m\"; sudo whois --help; exec zsh'"
Terminal=false
Icon=ph4ntxm-whois
Categories=PentestingPH4NTXM;
